<style> body { font-family: Helvetica, Arial, Sans-Serif; }</style>

<h1>API Documentation</h1>

<h2>GET {{ url_for('pedestrian_counts') }}</h2>
<pre>
    {
        "2013-10-10T13:00": {
            "mongo-id-1": {
                "borough": "Westminster",
                "geocode": {
                    "lat": 42.0,
                    "long": 23.0
                },
                "pedestrianCount": {
                    "current": 22,
                    "mean": 20,
                    "std": 1
                },
                "siteId": 1,
                "siteName": "hyde park"
            }
        }
    }
</pre>
